# Virtual environment
.venv/
venv/
ENV/

# Python cache/compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/
dist/
build/
eggs/
parts/
var/
wheels/

# Logs and databases
*.log
*.sqlite3
*.db

# IDE / editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Your custom ignore
preprocessing/
